.header-items{
  display: flex;
  justify-content:space-between;
}
.nav{
  display: none;
}
.nav-list{
  display: flex;
  gap:10px;
}
.header-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px
}
.logo-first{
  color: #9BB537;
}
.logo-second{
  color:#050505;
}

.shopping-icon-use{
  fill: #F8F8F8;
  stroke:  #050505;
}
.header-switch-container{
  display: none;
}
.checkbox{
  appearance: none;
  outline: none;
}
.header-switch {  
    position: relative;
    display: flex;
    width: 47px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 7px 5px 15px 0px #A09EA066;
  
}
.header-slider {
  position: absolute;
  cursor: pointer;  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:gray;
  transition: 0.4s;
  border-radius: 34px;
  box-shadow: 4px 4px 15px rgba(243, 243, 243, 0.25);
}

.header-slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s; 
  border-radius: 50%;
}

.header-switch input:checked + .header-slider {
  background: linear-gradient(#9BB537, #9BB537);
  box-shadow: 4px 4px 15px rgba(243, 243, 243, 0.25);
}

.header-switch input:checked + .header-slider:before {
  box-shadow: 4px 4px 15px rgba(243, 243, 243, 0.25);
  transform: translateX(26px);
}

.mobile-icon{
  fill: #F8F8F8;
  stroke:  #050505; 
    font-size: 18px;
    line-height: calc(20/18);
    letter-spacing: -0.72px;
    display: block;

}
/* 768px ve üzeri - Tabletler için düzen */
@media only screen and (min-width: 768px) {
  .mobile-icon{
    display: none;
  }
  .nav, .header-switch-container{
    display: block;
  }

}